html{
    font-size: 14px;
}

img{
    max-width: 100%;
}


/*
    font-family: 'Roboto', sans-serif;

    font-family: 'Leckerli One', cursive;

    font-family: 'Open Sans', sans-serif;
*/





.navbar-brand{

    font-family: 'Leckerli One', cursive;
    color: red !important;
    font-size: 2rem;
    text-transform: uppercase;
}
.navbar-nav{
    font-family: 'Open Sans', sans-serif;
}

.herro{
    padding: 300px 0;
    background-size: cover;
    background-position: center;
}
.herro h2{
    color: #333B46;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}
.herro p{
    color: #81868E;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.mouse{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.mouse .scroll{
    font-family: 'Open Sans', sans-serif;
    color: #E84C3D;
}
.about h2{
    color: #333B46;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 20px 0;
}
 .line:after{
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #81868E;
    margin-top: 20px;
    
}

.line-center:after{
    margin: 20px auto 0;
    
}
.about p{
    font-family: 'Open Sans', sans-serif;
    color: #81868E;
}
.about a{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}